@import "../../../scss/base";
@import "../../../scss/fonts";
@import "../../../scss/pages/index-header";
@import "../../../scss/pages/page-list";
@import "../../../scss/pages/page-link";
@import "../../../scss/pages/prev-next-page";

.text-icon {
    @include text-icon;
}

.indexHeader {
    @include index-header;
}

.bookList {
    @include page-list;
}

.bookLink {
    @include page-link;
    @media #{$mediaMedium} {
        margin: $gutter-m/2 $gutter-l/2;
        width: calc(50% - #{$gutter-l});
    }
    @media #{$mediaLarge} {
        margin: $gutter-l/2 $gutter-xl/2;
        width: calc(33.33333% - #{$gutter-xl});
    }}

.summary {
    @include page-summary;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.summaryHeader {
    @include page-summary-heading;
    order: 2;
    flex-basis: calc(#{$golden-l} - #{2*$gutter-m});
    margin: 0;
    padding-left: $gutter-m;
}

.summaryImage {
    @include page-summary-image;
    order: 1;
    flex-basis: $golden-s;
}

.prev, .next  {
    @include prev-next-page;
    .summaryImage {
        width: 100px;
        flex-shrink: 0;
    }
}
.prev {
    @include prev-page;
}
.next {
    @include next-page;
    @media #{$mediaMedium} {
        .summaryHeader {
            padding-right: $gutter-m;
            padding-left: 0;
        }
        .summaryImage {
            order: 2;
        }
    }
}

.header {

    @include page-header;

    h1 {
        display: block;
        :last-child {
            @include font-xl;
            &:before {
                content: '\00a0:\00a0';
            }
        }
    }

    .author {
        text-transform: initial;
        font-family: $labelFont;
        @include font-m;
        padding-left: $gutter-l;

        &:before {
            content: "\2014\00a0";
        }
    }
}
.image {
    @include card-1;
    align-self: center;
    width: $golden-l;
    @media #{$mediaMedium} {
        width: $golden-s;
    }
}
.content {
    @include page-content;
}

