@import "../../../scss/base";

.plainLink {
    @include plainLink;
}
.indexHeaderStyle {

    @include page-header;
    h1 {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        :first-child {
            margin-right: 0.25rem;
        }
    }
}

.headerStyle {

    @include page-header;

    h1 > :last-child {
            text-transform: initial;
            font-family: $labelFont;
            @include font-m;
            padding-left: $gutter-l;

            &:before {
                content: "\2014\00a0";
            }
        }
}
.imageStyle {
    align-self: center;
    width: 38%;
}
.contentStyle {
    @include page-content;
}

