@import "../../../scss/base";
@import "../../../scss/pages/index-header";
@import "../../../scss/pages/page-list";
@import "../../../scss/pages/page-link";
@import "../../../scss/pages/prev-next-page";

.indexHeaderStyle {
    @include index-header;
}

.bookListStyle {
    @include page-list;
}

.bookLinkStyle {
    @include page-link;
    @media #{$mediaMedium} {
        margin: $gutter-m/2 $gutter-l/2;
        width: calc(50% - #{$gutter-l});
    }
    @media #{$mediaLarge} {
        margin: $gutter-l/2 $gutter-xl/2;
        width: calc(33.33333% - #{$gutter-xl});
    }}

.summaryStyle {
    @include page-summary;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.summaryHeaderStyle {
    @include page-summary-heading;
    order: 2;
    flex-basis: calc(#{$golden-l} - #{2*$gutter-m});
    margin: 0;
    padding-left: $gutter-m;
}

.summaryImageStyle {
    @include page-summary-image;
    order: 1;
    flex-basis: $golden-s;
}

.prevStyle, .nextStyle  {
    @include prev-next-page;
    .summaryImageStyle {
        width: 100px;
        flex-shrink: 0;
    }
}
.prevStyle {
    @include prev-page;
}
.nextStyle {
    @include next-page;
    @media #{$mediaMedium} {
        .summaryHeaderStyle {
            padding-right: $gutter-m;
            padding-left: 0;
        }
        .summaryImageStyle {
            order: 2;
        }
    }
}

.headerStyle {

    @include page-header;

    h1 > :last-child {
        text-transform: initial;
        font-family: $labelFont;
        @include font-m;
        padding-left: $gutter-l;

        &:before {
            content: "\2014\00a0";
        }
    }
}
.imageStyle {
    @include card-1;
    align-self: center;
    width: $golden-l;
    @media #{$mediaMedium} {
        width: $golden-s;
    }
}
.contentStyle {
    @include page-content;
}

