{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "parser": "babel",
  "printWidth": 120,
  "proseWrap": "preserve",
  "useTabs": false
}
