@import "../../scss/base";
@import "../../scss/transition";

$shadow: 0 1px  3px  rgba($ink, $captionOpacity);

.profile {
    position: absolute;
    left: -100vw;
    z-index: 200;
    @include transition($style:left, $time: 250ms);
    &.show {
        left: 0;
    }
    @media #{$mediaMedium} {
        position: relative;
        left: initial;
    }

    .close {
        position: absolute;
        padding: $gutter-0-m;
        top: 0;
        right: 0;
        color: $chalk;
        height: 2*$fontXLarge;
        @media #{$mediaMedium} {
            display: none;
        }
    }

    flex-basis: 25%;
    flex-shrink: 0;

    text-shadow:  $shadow;
    text-align: center;
    min-height: calc(100vh - #{2*$gutter-l});
    width: calc(100vw - #{2*$gutter-l});
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $gutter-l;
    color: $chalk;

    a {
        @include link($chalk);
    }

    > header, > section, > nav {
        margin-bottom: $gutter-l;
        &:last-child {
            margin-bottom: 0;
        }
        :first-child {
            margin-top: 0;
        }
        :last-child {
            margin-bottom: 0;
        }
    }

    > header {
        h1 {
            @include font-xxl;
            margin: 0;
        }
        display: flex;
        flex-direction: column;
    }

    > section {
        @include font-l;
    }

    .pageNav {
        flex-grow: 1;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: 0;

        a {
            @include card-1;
            @include transition($style:background);
            @include font-l;
            line-height: $lineHeight-l;
            background: rgba($secondary-l, $captionOpacity);
            margin: $gutter-s/2 0;
            &:hover, &:active, &.active {
                background: rgba($primary-l, $captionOpacity);
            }
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .socialNav {
        @include font-xl;
        padding: $gutter-l -#{$gutter-s/2};
        display: flex;
        flex-grow: 0;
        align-self: stretch;
        justify-content: center;
        a {
            height: 1em;
            width: 1em;
            filter: drop-shadow( $shadow);
            padding: $gutter-s;
            border-radius: 100%;
            @include transition;

            &:hover, &:active {
                background: $chalk;
                color: $ink;
            }
        }
    }
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profileImage {
    @include card-2;
    border-radius: 100%;
    margin: $gutter-l-0;
}

.icon {
    @include icon;
}
.textIcon {
    @include text-icon;
}

.active {
    @include active;
}
