@import "../settings";
@import "../fonts";

@mixin page-header {

    display: flex;
    flex-direction: column;
    margin: 0 $gutter-0-m;

    > * {
        margin: 0 $gutter-0-m;
    }

    > :last-child {
        margin-bottom: 0;
    }

    h1 {
        @include font-xxl;
        display: flex;
        flex-direction: column;
    }

    p {
        @include font-l;
        padding: $gutter-0-m;
        text-align: center;
        font-style: italic;
        opacity: $captionOpacity;
    }
}
