@import "../settings";

.wrapperStyles {
    margin: $gutter-m;
    @media #{$mediaMedium} {
        margin: $gutter-m-l;
    }
    @media #{$mediaLarge} {
        margin: $gutter-m-xl;
    }
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}
