@import "../../scss/base";
.page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    > header {
        font-size: 2rem;
        padding: 1rem;
        font-weight: bold;
        position: sticky;
        top: 0;
        background: $secondary;
        color: white;

        h1 {
            @include font-xxl;
            margin: 0;
        }
    }

    > main {
        margin: 1rem;
        flex-grow: 1;

        > :first-child {
            margin-top:0;
        }
        > :last-child {
            margin-bottom: 0;
        }
    }

    > footer {
        @include font-s;
        padding: 1rem;
        background: rgba($primary, 0.5);
        color: white;
    }
}
