@import "../../scss/base";

.page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    > nav {
        padding: $gutter-0-m;
        position: sticky;
        top: 0;
        background: $primary;
        color: $chalk;
        z-index: 100;
        box-shadow: $gutter-0-xs $gutter-m-s rgba($chalk,$captionOpacity);
        @include font-xl;
        height: 2*$fontXLarge;
        font-family: $labelFont;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        h1 {
            flex-grow: 1;
            font-family: inherit;
            font-size: inherit;
            line-height: 2;
            margin: 0;
        }

        svg {
            margin-left: $gutter-m;
            justify-self: flex-end;
        }
        @media #{$mediaMedium} {
            display: none;
        }
    }

    > main {
        margin: $gutter-m;
        @media #{$mediaMedium} {
            margin: $gutter-m-l;
        }
        @media #{$mediaLarge} {
            margin: $gutter-m-xl;
        }
        flex-grow: 1;

        > :first-child {
            margin-top:0;
        }
        > :last-child {
            margin-bottom: 0;
        }
    }

    > footer {
        @include font-s;
        padding: $gutter-m;
        @media #{$mediaMedium} {
            padding: $gutter-m-l;
        }
        @media #{$mediaLarge} {
            padding: $gutter-m-xl;
        }
        background: rgba($primary, 0.5);
        color: white;
    }
}

.homeLinkStyle {
    @include plainLink($chalk);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.logoStyle {
    height: 2*$fontXLarge;
    width: 2*$fontXLarge;
    margin-right: $gutter-m;
}
