@import "../../scss/base";
@import "../../scss/transition";
@import "../../scss/ellipsis";

.pagination {
    font-family: $labelFont;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
        margin: $gutter-s-m;
    }
}

.prevNextStyle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: $gutter-m -#{$gutter-m/2} 0;
    @media #{$mediaMedium} {
        margin: $gutter-m -#{$gutter-l/2} 0;
    }
    @media #{$mediaLarge} {
        margin: $gutter-m -#{$gutter-xl/2} 0;
    }
}

.disabled {
    opacity: 0.2;
}
