@import "../../../scss/base";

.textIcon {
    @include text-icon;
}

.header {
    @include page-header;
    h1 {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        :first-child {
            margin-right: 0.25rem;
        }
    }
}
.content {
    @include page-content;
}
