@import "../../../scss/base";

.header {
    @include page-header;
    h1 {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}
.textIcon {
    @include text-icon;
}
.summary {
    @include page-content;
}
.footnote {
    width: $golden-l;
    margin: $gutter-m auto 0;
    @include card-1;
    padding: $gutter-m;
    @include font-s;
    border: 1px solid $secondary-l;
    background: rgba($secondary-l, 1-$captionOpacity);
}
