@import "../../../scss/base";
@import "../../../scss/pages/index-header";
@import "../../../scss/pages/page-list";
@import "../../../scss/pages/page-link";
@import "../../../scss/pages/prev-next-page";

.textIcon {
    @include text-icon;
}

.indexHeader {
    @include index-header;
}

.talkList {
    @include page-list;
}

.talkLink {
    @include page-link;
    @include card-1;
}

.summary {
    @include page-summary;
}

.summaryHeader {
    @include page-summary-heading;
}

.summaryImage {
    @include page-summary-image;
}

.prev, .next  {
    @include prev-next-page;
}
.prev {
    @include prev-page;
}
.next {
    @include next-page;
}

.header {
    @include page-header;
    h1 > :last-child {
        text-transform: initial;
        font-family: $labelFont;
        @include font-m;
        padding-left: $gutter-l;

        &:before {
            content: "\2014\00a0";
        }
    }
}


.embed {
    @include card-1;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-size:cover;
    @media #{$mediaLarge} {
        width: $golden-l;
    }

    > div {
        padding-bottom: 56.25%;
        height: 0;
    }

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.content {
    @include page-content;
}
