@import "../../../scss/base";

.talkLinkStyle {
    @include plainLink;
    margin: $gutter-m/2;
    display: flex;
    flex-direction: column;
    width: calc(100% - #{$gutter-m});
    @media #{$mediaMedium} {
        width: calc(100% - #{$gutter-l});
        margin: $gutter-m/2 $gutter-l/2;
    }
    @media #{$mediaLarge} {
        margin: $gutter-l/2 $gutter-xl/2;
        width: calc(33.33333% - #{$gutter-xl});
    }
    section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        h1 {
            display: flex;
            flex-direction: column;
            @include font-l;
            margin: 0 $gutter-0-s;
            flex-grow: 1;
            :last-child {
                text-transform: initial;
                font-family: $labelFont;
                @include font-s;
                padding-left: $gutter-m;

                &:before {
                    content: "\2014\00a0";
                }
            }
        }
    }
}

.summaryImageStyle {
    @include card-1;
}

.indexHeaderStyle {

    @include page-header;
    h1 {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        :first-child {
            margin-right: 0.25rem;
        }
    }
}

.talkListStyle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: -$gutter-m/2;
    @media #{$mediaMedium} {
        margin: -#{$gutter-m/2} -#{$gutter-l/2};
    }
    @media #{$mediaLarge} {
        margin: -#{$gutter-l/2} -#{$gutter-xl/2};
    }
}

.prevStyle, .nextStyle  {
    @include plainLink;
    margin: 0 $gutter-m/2;
    width: calc(100% - #{$gutter-m});
    @media #{$mediaMedium} {
        align-items: stretch;
        margin: 0 $gutter-l/2;
        width: calc(50% - #{$gutter-l});
    }
    @media #{$mediaLarge} {
        margin: 0 $gutter-xl/2;
        width: calc(33.3333% - #{$gutter-l});
    }
    .summaryHeaderStyle {
        flex-basis: initial;
        justify-content: flex-end;
        h1 {
            @include font-m;
            span {
                @include font-s;
            }
        }
    }
    .summaryImageStyle {
        flex-basis: initial;
        width: $golden-l;
        align-self: center;
        @media #{$mediaMedium} {
            width: 100%;
        }
    }
}
.prevStyle {
    justify-self: flex-start;
    margin-right: auto;
    margin-top: $gutter-m;
    @media #{$mediaMedium} {
        margin-top: 0;
    }
}
.nextStyle {
    justify-self: flex-end;
    margin-left: auto;
    @media #{$mediaMedium} {
        order: 2;
        .summaryHeaderStyle h1 {
            text-align: right;
        }
    }
}

.headerStyle {
    @include page-header;
    h1 > :last-child {
        text-transform: initial;
        font-family: $labelFont;
        @include font-m;
        padding-left: $gutter-l;

        &:before {
            content: "\2014\00a0";
        }
    }
}
.embedStyle {
    @include card-1;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-size:cover;
    @media #{$mediaMedium} {
        width: $golden-l;
    }

    > div {
        padding-bottom: 56.25%;
        height: 0;
    }

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.contentStyle {
    @include page-content;
}
