@import "settings";
@import "transition";

@mixin link($color:$primary) {
    text-decoration: initial;
    color: $color;
    &:hover, &:active {
        @include transition(color);
        color: darken($color, 10%);
    }
}

@mixin plainLink($color:$ink) {
    &, &:hover {
        color: $color;
    }
}

@mixin active {
    opacity: 1;
    @include link($secondary);
}

@mixin icon {
    height: 1em;
    width: 1em;
}

@mixin text-icon {
    @include icon;
    margin-right: $gutter-xs;
}
