$ink: #333;
$chalk: #fff;

$primary:   #388e3c;
$primary-l: #6abf69;
$primary-d: #00600f;

$textOn-p:   #000;
$textOn-p-l: #000;
$textOn-p-d: #fff;

$secondary:   #303f9f;
$secondary-l: #666ad1;
$secondary-d: #001970;

$textOn-s:   #fff;
$textOn-s-l: #fff;
$textOn-s-d: #fff;

$lineHeight-s: 1.2;
$lineHeight-m: 1.4;
$lineHeight-l: 1.6;

@import url('https://fonts.googleapis.com/css?family=Oswald|Noto+Serif:400,400i,700,700i|Roboto&display=swap');
$sansFont: 'Oswald', sans-serif;
$serifFont: 'Noto Serif', serif;
$labelFont: 'Roboto', sans-serif;

$fontXXLarge: 2rem;
$fontXLarge: 1.5rem;
$fontLarge: 1.125rem;
$fontMedium: 16px;
$fontSmall: 0.8125rem;
$fontXSmall: 0.0625rem;
$fontXXSmall: 0.5625rem;

$gutter-xs: 0.25rem;
$gutter-s: 0.5rem;
$gutter-m: 1rem;
$gutter-l: 2rem;
$gutter-xl: 4rem;

$gutter-0-xs: 0 $gutter-xs;
$gutter-0-s: 0 $gutter-s;
$gutter-0-m: 0 $gutter-m;
$gutter-0-l: 0 $gutter-l;
$gutter-0-xl: 0 $gutter-xl;

$gutter-xa-s: 0 $gutter-s;
$gutter-xa-m: 0 $gutter-m;
$gutter-xa-l: 0 $gutter-l;
$gutter-xa-xl: 0 $gutter-xl;

$gutter-s-0: $gutter-s 0;
$gutter-s-xs: $gutter-s $gutter-xs;
$gutter-s-m: $gutter-s $gutter-m;
$gutter-s-l: $gutter-s $gutter-l;
$gutter-s-xl: $gutter-s $gutter-xl;

$gutter-m-0: $gutter-m 0;
$gutter-m-xs: $gutter-m $gutter-xs;
$gutter-m-s: $gutter-m $gutter-s;
$gutter-m-l: $gutter-m $gutter-l;
$gutter-m-xl: $gutter-m $gutter-xl;

$gutter-l-0: $gutter-l 0;
$gutter-l-xs: $gutter-l $gutter-xs;
$gutter-l-s: $gutter-l $gutter-s;
$gutter-l-m: $gutter-l $gutter-m;
$gutter-l-xl: $gutter-l $gutter-xl;

$gutter-xl-0: $gutter-xl 0;
$gutter-xl-xs: $gutter-xl $gutter-xs;
$gutter-xl-s: $gutter-xl $gutter-s;
$gutter-xl-m: $gutter-xl $gutter-m;
$gutter-xl-l: $gutter-xl $gutter-l;

$screenLarge: (1200px);
$screenMedium: (800px);
$mediaLarge: screen and (min-width: $screenLarge);
$mediaMedium: screen and (min-width: $screenMedium);

$card-radius: 0.1rem;
$card-0: 0 1px  1px  rgba($ink, 0.06), 0 1px  1px  rgba($ink,0.12);
$card-1: 0 1px  3px  rgba($ink, 0.12), 0 1px  2px  rgba($ink,0.24);
$card-2: 0 3px  6px  rgba($ink,0.16),  0 3px  6px  rgba($ink,0.23);
$card-3: 0 10px 20px rgba($ink,0.19),  0 6px  6px  rgba($ink,0.23);
$card-4: 0 14px 28px rgba($ink,0.25),  0 10px 10px rgba($ink,0.22);
$card-5: 0 19px 38px rgba($ink,0.30),  0 15px 12px rgba($ink,0.22);

$captionOpacity: 0.75;
